<a href="https://colab.research.google.com/github/DianaSavchuk/Python/blob/main/Copy_of_1_Data_retrieval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data retrieval
---

Each of the code cells below contains code that is an example of how data can be retrieved from a range of sources.

### Read the text and run the code to see what it does.

## Scraping data from a web page
---

The code below reads all the data tables from the Wikipedia page on Glasgow.  The 8th table on the page shows population data over a period of centuries.

The code reads the data from the page into a list of dataframes.  The index, eg[7] is used to access the 8th table in the list.  

1.  Open the link to have a look at the [Glasgow Wikipedia](https://en.wikipedia.org/wiki/Glasgow#Climate) page
2.  Run the code.
3.  Change the index to see other data tables
4.  Add the line
```
print(len(datatables))
```
to show how many tables were one the page and so are in the list.

## TAKEAWAY:
Take a look at a number of the data tables.  They can look messy. The job of the programmer is to write code that will tidy the tables up.

In [4]:
import pandas as pd

def get_web_data():
  datatables = pd.read_html('https://en.wikipedia.org/wiki/Glasgow#Climate')
  #  change the index in [] to look at other tables, add the line print(len(datatables)) to see how many tables there are
  print(len(datatables))
  df = datatables[20]  #Glasgow population data
  return df

# run and test the get_data() function, test visually - does it match the data on the web page
population_data = get_web_data()
display(population_data)

24

,0,1,2,3,4
0,1930: Hamilton 1934: London 1938: Sydney 1950:...,1958: Cardiff 1962: Perth 1966: Kingston 1970:...,1978: Edmonton 1982: Brisbane 1986: Edinburgh ...,1998: Kuala Lumpur 2002: Manchester 2006: Melb...,2018: Gold Coast 2022: Birmingham 2026: State ...

## From a csv file hosted on Github.com
---

Data has often already been tidied up and organised into table form.  It is often stored as Comma Separated Values (csv).  This is a formatted text file, which is small and so quick to transfer, especially over the internet.

The code below reads a data table stored in a Comma Separated Values file (this is a text file containing rows of data with each column within the row separated from the next column by a comma).  

(**Note**: If you were using Jupyter Notebooks on your device, the url could be replaced with the path to the CSV file).

In [5]:
import pandas as pd

def get_csv_data():
  url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv"
  df = pd.read_csv(url)
  return df

weather_data = get_csv_data()
display(weather_data)

,yyyy,mm,tmax (degC),tmin (degC),af (days),rain (mm),sun (hours),status
0,1959,1,4,-2,25,40.9,54.1,NaN
1,1959,2,6.6,2.1,10,41.8,17.8,NaN
2,1959,3,10.6,4.2,0,50.9,85.7,NaN
3,1959,4,13,5.2,0,76.3,125.1,NaN
4,1959,5,18.1,7.9,0,24,222,NaN
...,...,...,...,...,...,...,...,...
741,2020,10,12.9*,7.1*,0*,185.3*,76.8*,Provisional
742,2020,11,10.6*,6.0*,0*,142.4*,29.3*,Provisional
743,2020,12,6.9*,2.6*,8*,131.0*,31.6*,Provisional
744,2021,1,4.9*,-0.2*,14*,132.2*,51.0*,Provisional
745,2021,2,7.0*,2.3*,8*,144.3*,58.8*,Provisional

## From an Excel file hosted on Github.com
---

The code below reads the data table from a sheet in an Excel file.  

Excel spreadsheets often have more than one sheet.  If you don't specify a sheet then it will assume that you want to read the data from the first sheet in the Excel workbook (sheet_name = 0).  If you don't know the sheet name but know it is the second sheet, you can use sheet_name = 1, or 2 for the third sheet, etc.

The Excel file is readable ONLY if it in its raw format (which is not the format we normally see it in). This is the [original file](https://docs.google.com/spreadsheets/d/1JnGkdYpYdr1hsr_ALCPBduxljQxoF1FK/edit?usp=share_link&ouid=109124845535182996296&rtpof=true&sd=true) in the form we can read.  Have a look at it so you know what you are expecting to see.

(**Again**: If you were using Jupyter Notebooks on your device, the url could be replaced with the path to the Excel file).

In [6]:
import pandas as pd

def get_excel_data():
  url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
  df = pd.read_excel(url,sheet_name="Industry Migration")
  return df

migration_df = get_excel_data()
display(migration_df)

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5290,zw,Zimbabwe,Low income,Sub-Saharan Africa,B,Mining and quarrying,56,Mining & Metals,257.36,187.70,-17.45,70.60,-18.30
5291,zw,Zimbabwe,Low income,Sub-Saharan Africa,P,Education,68,Higher Education,190.84,50.76,-68.74,-234.59,-304.36
5292,zw,Zimbabwe,Low income,Sub-Saharan Africa,O,Public administration and defence; compulsory ...,74,International Affairs,25.23,-46.12,214.29,311.03,-55.88
5293,zw,Zimbabwe,Low income,Sub-Saharan Africa,J,Information and communication,96,Information Technology & Services,46.65,35.93,-142.64,-108.16,-213.82
5294,zw,Zimbabwe,Low income,Sub-Saharan Africa,S,Other service activities,100,Non-Profit Organization Management,133.56,88.48,6.96,-39.32,-92.51

## From an API which delivers the data in JSON format
---

The code below requests the data from a URL.  This is a bit more tricky than the other ways to get the data as how you access the data will depend on how it is organised.

In general, the data will be retrieved as a dictionary (not a table), which will contain a record called 'data' in which the actual data is stored.  In the example, the data has been taken from the 'data' record  and is stored in json_data. 

**Try these to help understand the data**:

1.  The code below gets the data from the URL and stores it in a variable called **json_data**.  Run the code to see what the original data looks like.

2.  ```json_data``` is a list of records but it only has one record in the list.  **data_table** is the first record in the ```json_data``` list.   
 * comment out the line ```print(json_data)``` 
 * un-comment the line that assigns data_table the value json_data[0]
 * un-comment the line that will print data table.

3.  In this example, data_table has three keys, 'to', 'from' and 'regions'.  Take a look at the regions data on its own.  
  * change the line ```print(data_table)``` to print just the regions part of it: ```print(data_table['regions')```

4. The 'regions' value is the data we want to use in our dataframe, so the rest of the code normalizes this json data into a pandas dataframe (df), which you can see as the output.  To see this:  
  *  comment out the line  ```print(data_table['regions')```  
  *  un-comment the rest of the code to see what the data looks like 

Each API is likely to deliver its data in a different format and so you will need to be confident to read the documentation and to inspect the data to see what keys and indexes you need to access.

For information on the format of the data here, see https://carbon-intensity.github.io/api-definitions/#regional

In [13]:
import pandas as pd
import requests

def get_api_data():
  url = "https://api.carbonintensity.org.uk/regional"
  json_data = requests.get(url).json()['data']
  #print(json_data)
  data_table = json_data[0]
  print(data_table['regions'])
  df = pd.json_normalize(data_table['regions'])
  return df

generation_df = get_api_data()
display(generation_df)

[{'regionid': 1, 'dnoregion': 'Scottish Hydro Electric Power Distribution', 'shortname': 'North Scotland', 'intensity': {'forecast': 123, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 31.2}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 14.6}, {'fuel': 'solar', 'perc': 0}, {'fuel': 'wind', 'perc': 54.2}]}, {'regionid': 2, 'dnoregion': 'SP Distribution', 'shortname': 'South Scotland', 'intensity': {'forecast': 92, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.4}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0.9}, {'fuel': 'gas', 'perc': 21.9}, {'fuel': 'nuclear', 'perc': 29.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 8.5}, {'fuel': 'solar', 'perc': 1.1}, {'fuel': 'wind', 'perc': 36.4}]}, {'regionid': 3, 'dnoregion': 'Electricity North West', 'shortname': 'North West England', 'intensity': {'forecast': 124, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 6.1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 6.7}, {'fuel': 'gas', 'perc': 29.3}, {'fuel': 'nuclear', 'perc': 49.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1}, {'fuel': 'solar', 'perc': 0.7}, {'fuel': 'wind', 'perc': 6.6}]}, {'regionid': 4, 'dnoregion': 'NPG North East', 'shortname': 'North East England', 'intensity': {'forecast': 41, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 6}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 51.8}, {'fuel': 'gas', 'perc': 8.2}, {'fuel': 'nuclear', 'perc': 31.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 1.2}, {'fuel': 'wind', 'perc': 1.1}]}, {'regionid': 5, 'dnoregion': 'NPG Yorkshire', 'shortname': 'Yorkshire', 'intensity': {'forecast': 287, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 35.5}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 62}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.5}, {'fuel': 'wind', 'perc': 2}]}, {'regionid': 6, 'dnoregion': 'SP Manweb', 'shortname': 'North Wales & Merseyside', 'intensity': {'forecast': 243, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 3.5}, {'fuel': 'gas', 'perc': 58.6}, {'fuel': 'nuclear', 'perc': 12.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 9.8}, {'fuel': 'solar', 'perc': 2.6}, {'fuel': 'wind', 'perc': 11.5}]}, {'regionid': 7, 'dnoregion': 'WPD South Wales', 'shortname': 'South Wales', 'intensity': {'forecast': 364, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 92.3}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 1.5}, {'fuel': 'wind', 'perc': 6.2}]}, {'regionid': 8, 'dnoregion': 'WPD West Midlands', 'shortname': 'West Midlands', 'intensity': {'forecast': 301, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 5.5}, {'fuel': 'coal', 'perc': 5.6}, {'fuel': 'imports', 'perc': 2.5}, {'fuel': 'gas', 'perc': 60.6}, {'fuel': 'nuclear', 'perc': 15.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2.5}, {'fuel': 'solar', 'perc': 2.4}, {'fuel': 'wind', 'perc': 5.6}]}, {'regionid': 9, 'dnoregion': 'WPD East Midlands', 'shortname': 'East Midlands', 'intensity': {'forecast': 438, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 9.9}, {'fuel': 'coal', 'perc': 15.3}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 71.9}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 2}, {'fuel': 'wind', 'perc': 0.9}]}, {'regionid': 10, 'dnoregion': 'UKPN East', 'shortname': 'East England', 'intensity': {'forecast': 280, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.2}, {'fuel': 'coal', 'perc': 1.8}, {'fuel': 'imports', 'perc': 15.2}, {'fuel': 'gas', 'perc': 48}, {'fuel': 'nuclear', 'perc': 19}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 3.3}, {'fuel': 'wind', 'perc': 11.5}]}, {'regionid': 11, 'dnoregion': 'WPD South West', 'shortname': 'South West England', 'intensity': {'forecast': 333, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.6}, {'fuel': 'coal', 'perc': 0.9}, {'fuel': 'imports', 'perc': 1.5}, {'fuel': 'gas', 'perc': 81.9}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 9.4}, {'fuel': 'wind', 'perc': 5.7}]}, {'regionid': 12, 'dnoregion': 'SSE South', 'shortname': 'South England', 'intensity': {'forecast': 359, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3}, {'fuel': 'coal', 'perc': 4.6}, {'fuel': 'imports', 'perc': 7.6}, {'fuel': 'gas', 'perc': 77.7}, {'fuel': 'nuclear', 'perc': 0.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.3}, {'fuel': 'solar', 'perc': 5.3}, {'fuel': 'wind', 'perc': 1.4}]}, {'regionid': 13, 'dnoregion': 'UKPN London', 'shortname': 'London', 'intensity': {'forecast': 273, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.8}, {'fuel': 'coal', 'perc': 1.2}, {'fuel': 'imports', 'perc': 21.1}, {'fuel': 'gas', 'perc': 52.9}, {'fuel': 'nuclear', 'perc': 10.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.9}, {'fuel': 'solar', 'perc': 3}, {'fuel': 'wind', 'perc': 9.5}]}, {'regionid': 14, 'dnoregion': 'UKPN South East', 'shortname': 'South East England', 'intensity': {'forecast': 259, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0.1}, {'fuel': 'imports', 'perc': 30}, {'fuel': 'gas', 'perc': 56.7}, {'fuel': 'nuclear', 'perc': 0.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2}, {'fuel': 'solar', 'perc': 2.5}, {'fuel': 'wind', 'perc': 8}]}, {'regionid': 15, 'dnoregion': 'England', 'shortname': 'England', 'intensity': {'forecast': 282, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 6.9}, {'fuel': 'coal', 'perc': 3.4}, {'fuel': 'imports', 'perc': 10.7}, {'fuel': 'gas', 'perc': 56.6}, {'fuel': 'nuclear', 'perc': 12.9}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.9}, {'fuel': 'solar', 'perc': 2.8}, {'fuel': 'wind', 'perc': 5.8}]}, {'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'intensity': {'forecast': 104, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.2}, {'fuel': 'gas', 'perc': 24.8}, {'fuel': 'nuclear', 'perc': 22.3}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 9.2}, {'fuel': 'solar', 'perc': 0.9}, {'fuel': 'wind', 'perc': 40.5}]}, {'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'intensity': {'forecast': 326, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 7.6}, {'fuel': 'gas', 'perc': 73.8}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 10}, {'fuel': 'solar', 'perc': 1.6}, {'fuel': 'wind', 'perc': 7}]}, {'regionid': 18, 'dnoregion': 'GB', 'shortname': 'GB', 'intensity': {'forecast': 267, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 6}, {'fuel': 'coal', 'perc': 2.9}, {'fuel': 'imports', 'perc': 9.6}, {'fuel': 'gas', 'perc': 54.4}, {'fuel': 'nuclear', 'perc': 13.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2.2}, {'fuel': 'solar', 'perc': 2.5}, {'fuel': 'wind', 'perc': 9.2}]}]

,regionid,dnoregion,shortname,generationmix,intensity.forecast,intensity.index
0,1,Scottish Hydro Electric Power Distribution,North Scotland,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",123,low
1,2,SP Distribution,South Scotland,"[{'fuel': 'biomass', 'perc': 1.4}, {'fuel': 'c...",92,low
2,3,Electricity North West,North West England,"[{'fuel': 'biomass', 'perc': 6.1}, {'fuel': 'c...",124,low
3,4,NPG North East,North East England,"[{'fuel': 'biomass', 'perc': 6}, {'fuel': 'coa...",41,very low
4,5,NPG Yorkshire,Yorkshire,"[{'fuel': 'biomass', 'perc': 35.5}, {'fuel': '...",287,high
5,6,SP Manweb,North Wales & Merseyside,"[{'fuel': 'biomass', 'perc': 1.2}, {'fuel': 'c...",243,high
6,7,WPD South Wales,South Wales,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",364,very high
7,8,WPD West Midlands,West Midlands,"[{'fuel': 'biomass', 'perc': 5.5}, {'fuel': 'c...",301,high
8,9,WPD East Midlands,East Midlands,"[{'fuel': 'biomass', 'perc': 9.9}, {'fuel': 'c...",438,very high
9,10,UKPN East,East England,"[{'fuel': 'biomass', 'perc': 1.2}, {'fuel': 'c...",280,high
10,11,WPD South West,South West England,"[{'fuel': 'biomass', 'perc': 0.6}, {'fuel': 'c...",333,very high
11,12,SSE South,South England,"[{'fuel': 'biomass', 'perc': 3}, {'fuel': 'coa...",359,very high
12,13,UKPN London,London,"[{'fuel': 'biomass', 'perc': 0.8}, {'fuel': 'c...",273,high
13,14,UKPN South East,South East England,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",259,high
14,15,England,England,"[{'fuel': 'biomass', 'perc': 6.9}, {'fuel': 'c...",282,high
15,16,Scotland,Scotland,"[{'fuel': 'biomass', 'perc': 1}, {'fuel': 'coa...",104,low
16,17,Wales,Wales,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",326,very high
17,18,GB,GB,"[{'fuel': 'biomass', 'perc': 6}, {'fuel': 'coa...",267,high

### Exercise - upload a csv file to your github repository and create a data table from it

Visit the Kent and Medway Air Quality site: https://kentair.org.uk/

Collect a data file containing data on Ozone levels in Dover:

Open the site
Go to the Data page  
Launch the data selector tool  
Select:
*  Automatic monitoring data
*  Measurement data and simple statistics
*  Ozone
*  Daily mean
*  This month
*  Thurrock
*  Thurrock

Click on Download CSV  (This should be downloaded into your Downloads folder).

**NEXT**

Add the file to your Github repository. 
* rename the file dover-ozone-daily-mean.csv 
* sign in to your Github account
* open your repository
* click on Add a file
* upload the air data file

To be able to open the file from github, you will need to get the link to the raw file.  
* open the file on Github
* find the button 'Raw' and click on it
* copy the URL    

**NEXT**  

Write some code to display the dataframe and compare the contents with the output on the site you took the data from.

In [21]:
# add code here to read the csv file and display the dataframe (see above for help - From a csv hosted on Github)
import pandas as pd

def get_csv_data():
  url = "https://raw.githubusercontent.com/DianaSavchuk/Python/main/data-selector-export.csv"
  df = pd.read_csv(url,skiprows=1)
  return df

data_export = get_csv_data()
display(data_export)

          Date     Ozone   Status
0   01/12/2022  14.91786  P µg/m³
1   02/12/2022  24.77163  P µg/m³
2   03/12/2022  43.69752  P µg/m³
3   04/12/2022  26.20188  P µg/m³
4   05/12/2022  24.86310  P µg/m³
5   06/12/2022  26.84216  P µg/m³
6   07/12/2022  23.95672  P µg/m³
7   08/12/2022   5.73764  P µg/m³
8   09/12/2022   4.07455  P µg/m³
9   10/12/2022   7.78323  P µg/m³
10  11/12/2022   1.77950  P µg/m³
11  12/12/2022  12.48976  P µg/m³

### Exercise - read from an Excel spreadsheet
---
Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

* Find a dataset that is an Excel file

* Copy the code above (for Excel files on Github) into the code cell below  

* Copy the URL of the Excel file you have chosen in the datasets list  
 
* Change the line
```
df = pd.read_excel(url,sheet_name="Industry Migration") 
```
to 
```
df = pd.read_excel(url)
```
This will then open the first sheet in the Excel file, rather than a named sheet.

* Run the code to open the data.

In [26]:
import pandas as pd

def get_excel_data():
  url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true"
  df = pd.read_excel(url)
  return df

migration_df = get_excel_data()
display(migration_df)

   State  County  Population   Age  Income
0     TX     1.0        72.0  34.0    65.0
1     TX     2.0        33.0  42.0    45.0
2     TX     5.0        25.0  23.0    46.0
3     TX     6.0        54.0  36.0    65.0
4     TX     7.0        11.0  42.0    53.0
5     TX     8.0        28.0  25.0    62.0
6     TX     9.0        82.0  35.0    66.0
7     TX    10.0         5.0  40.0    75.0
8     MD    11.0        61.0  27.0    22.0
9     MD     2.0         5.0  23.0    69.0
10    MD     4.0        98.0  25.0    73.0
11    MD     3.0        64.0  29.0    75.0
12    MD     2.0        36.0  24.0    65.0
13    MD     1.0        24.0  25.0    66.0
14    MD     5.0        34.0  31.0    78.0
15    MD     6.0        89.0  22.0    81.0
16    MD     8.0        21.0  25.0    73.0
17    MD     7.0        21.0  30.0    62.0

### Exercise
---
*  Copy the code from the cell above -  API delivered in JSON format
*  Change the URL to add /scotland to the end of it
*  get the data_table as before
*  create a new variable, **generation_data** to hold ```table_data['data']```
*  take a look ```generation_data[0]``` by printing it
*  normalize ```generation_data[0]```  
*  display the resulting dataframe

You will notice that there is only one row of data but that the column headed ```generationmix``` has a list of items in that one row.  

You can use the ```df = df.explode('generationmix')```  
This will expand the table to have a row for each item in the ```generationmix``` column. 

**Extension**:  

You will notice that the first column (which is generally the index column)  has only 0s.  This is because the index for the original single row was 0 so it has kept it.  To re-index, tell the explode function to ignore the original index.  Like this:
```
df = df.explode('generationmix', ignore_index=True)
```

There is still a way to go to get data like this ready for use but you can start to see what can be done.

In [36]:
import pandas as pd
import requests

def get_api_data():
  url = "https://api.carbonintensity.org.uk/regional/scotland"
  json_data = requests.get(url).json()['data']
  #print(json_data)
  data_table = json_data[0]
  generation_data = data_table['data']
  #print(generation_data[0])
  df = pd.json_normalize(generation_data[0])
  df = df.explode('generationmix',ignore_index=True)
  return df

generation_df = get_api_data()
display(generation_df)

,from,to,generationmix,intensity.forecast,intensity.index
0,2022-12-13T12:00Z,2022-12-13T12:30Z,"{'fuel': 'biomass', 'perc': 1.1}",108,low
1,2022-12-13T12:00Z,2022-12-13T12:30Z,"{'fuel': 'coal', 'perc': 0}",108,low
2,2022-12-13T12:00Z,2022-12-13T12:30Z,"{'fuel': 'imports', 'perc': 1.1}",108,low
3,2022-12-13T12:00Z,2022-12-13T12:30Z,"{'fuel': 'gas', 'perc': 25.7}",108,low
4,2022-12-13T12:00Z,2022-12-13T12:30Z,"{'fuel': 'nuclear', 'perc': 22.3}",108,low
5,2022-12-13T12:00Z,2022-12-13T12:30Z,"{'fuel': 'other', 'perc': 0}",108,low
6,2022-12-13T12:00Z,2022-12-13T12:30Z,"{'fuel': 'hydro', 'perc': 9.5}",108,low
7,2022-12-13T12:00Z,2022-12-13T12:30Z,"{'fuel': 'solar', 'perc': 1}",108,low
8,2022-12-13T12:00Z,2022-12-13T12:30Z,"{'fuel': 'wind', 'perc': 39.4}",108,low